<div class="invoice">
	<form action="" name="createInvoice" class="form">
	
 	<div class="row">
 		<div class="col-xs-4 sellerBlock">
		    <input type="text" class="form-control" name="sellerName" ng-model="invoice.trade.agreement.seller.name" placeholder="Name" value=''> 
		 
		 	<!-- <div class="form-group">
		    <label for="sellerContactName">
		   		Contact Name
		    </label>   
		    <input type="text" class="form-control" name="sellerContactName" ng-model="invoice.trade.agreement.seller.contact.name" value=''> 
		 	</div>

		 	<div class="form-group">
		    <label for="sellerContactDepartment">
		   		Department
		    </label>   
		    <input type="text" class="form-control" name="sellerContactDepartment" ng-model="invoice.trade.agreement.seller.contact.department" value=''> 
		 	</div>

		 	<div class="form-group">
		    <label for="sellerContactPhone">
		   		Phone
		    </label>   
		    <input type="text" class="form-control" name="sellerContactPhone" ng-model="invoice.trade.agreement.seller.contact.phone" value=''> 
		 	</div>

		 	<div class="form-group">
		    <label for="sellerContactFax">
		   		Fax
		    </label>   
		    <input type="text" class="form-control" name="sellerContactFax" ng-model="invoice.trade.agreement.seller.contact.fax" value=''> 
		 	</div>

		 	<div class="form-group">
		    <label for="sellerContactEmail">
		   		Email
		    </label>   
		    <input type="email" class="form-control" name="sellerContactEmail" ng-model="invoice.trade.agreement.seller.contact.email" value=''> 
		 	</div>

			<hr> -->


		    <input type="text" class="form-control" name="sellerAddressLineOne" ng-model="invoice.trade.agreement.seller.address.lineOne" placeholder="Adress" value=''> 
	
		 	 
		    <input type="text" class="form-control" name="sellerAddressLineTwo" ng-model="invoice.trade.agreement.seller.address.lineTwo" value='' placeholder="Adress 2"> 
		 	

		 	<div class="row">
		 		<div class="col-xs-4">
					<input type="text" class="form-control" name="sellerAddressZipCode" ng-model="invoice.trade.agreement.seller.address.postcode" placeholder="Zip Code" value=''>
		 		</div>
		 		<div class="col-xs-8">
			    	<input type="text" class="form-control" name="sellerAddressCity" ng-model="invoice.trade.agreement.seller.address.city" placeholder="City" value=''> 
		 		</div>
		 	</div>

		 	
			<select ng-options="type for type in countries" ng-model="invoice.trade.agreement.seller.address.country" name="sellerAddressCountry" class="form-control smaller"></select>
			    <!-- <input type="text" class="form-control" name="sellerAddressCountry" ng-model="invoice.trade.agreement.seller.address.country" value=''>  -->
		 	
			
		 	<!-- <div class="form-group">
			    <label for="sellerTaxRegistrationType">
			   		TaxRegistration Type
			    </label>
			    <select ng-options="type for type in taxTypes" ng-model="invoice.trade.agreement.seller.taxRegistrations.type" name="sellerTaxRegistrationType" class="form-control"></select>
		 	</div> -->		  
		 	
 		</div>

 		<div class="col-xs-4">
 			<input type="text" class="form-control" name="buyerName" ng-model="invoice.trade.agreement.buyer.name" value='' placeholder="Name"> 

		 	<!-- <div class="form-group">
		    <label for="buyerContactName">
		   		Contact Name
		    </label>   
		    <input type="text" class="form-control" name="buyerContactName" ng-model="invoice.trade.agreement.buyer.contact.name" value=''> 
		 	</div>

		 	<div class="form-group">
		    <label for="buyerContactDepartment">
		   		Department
		    </label>   
		    <input type="text" class="form-control" name="buyerContactDepartment" ng-model="invoice.trade.agreement.buyer.contact.department" value=''> 
		 	</div>

		 	<div class="form-group">
		    <label for="buyerContactPhone">
		   		Phone
		    </label>   
		    <input type="text" class="form-control" name="buyerContactPhone" ng-model="invoice.trade.agreement.buyer.contact.phone" value=''> 
		 	</div>

		 	<div class="form-group">
		    <label for="buyerContactFax">
		   		Fax
		    </label>   
		    <input type="text" class="form-control" name="buyerContactFax" ng-model="invoice.trade.agreement.buyer.contact.fax" value=''> 
		 	</div>

		 	<div class="form-group">
		    <label for="buyerContactEmail">
		   		Email
		    </label>   
		    <input type="email" class="form-control" name="buyerContactEmail" ng-model="invoice.trade.agreement.buyer.contact.email" value=''> 
		 	</div> -->

		    <input type="text" class="form-control" name="buyerAddressLineOne" ng-model="invoice.trade.agreement.buyer.address.lineOne" placeholder="Adress" value=''> 

		    <input type="text" class="form-control" name="buyerAddressLineTwo" ng-model="invoice.trade.agreement.buyer.address.lineTwo" value='' placeholder="Adress 2 "> 

		 	<div class="row">
		 		<div class="col-xs-4">
					<input type="text" class="form-control" name="buyerAddressZipCode" ng-model="invoice.trade.agreement.buyer.address.postcode" placeholder="Zip Code" value=''>
		 		</div>
		 		<div class="col-xs-8">
			    	<input type="text" class="form-control" name="buyerAddressCity" ng-model="invoice.trade.agreement.buyer.address.city" placeholder="City" value=''> 
		 		</div>
		 	</div>
		 	
		    <select ng-options="type for type in countries" ng-model="invoice.trade.agreement.buyer.address.country" name="buyerAddressCountry" class="form-control smaller"></select>
		    <!-- <input type="text" class="form-control" name="buyerAddressCountry" ng-model="invoice.trade.agreement.buyer.address.country" value=''>  -->
		 	
			
		 	<!-- <div class="form-group">
			    <label for="buyerTaxRegistrationType">
			   		TaxRegistration Type
			    </label>
			    <select ng-options="type for type in taxTypes" ng-model="invoice.trade.agreement.buyer.taxRegistrations.type" name="buyerTaxRegistrationType" class="form-control"></select>
		 	</div>
 -->
 		</div>
 		<div class="col-xs-4">
			<h3>Invoice <small>{{invoice.header.name}}</small></h3>
			
			Invoice Number:
			<input type="text" class="form-control smaller" name="ownmovie" ng-model="invoice.header.invoiceNumber" value=''>
		 	Payment Reference:
    		<input type="text" class="form-control smaller" name="settlementPaymentReference" ng-model="invoice.trade.settlement.paymentReference" value=''>
			
			Issue Date: 
			<input type="text" class="form-control smaller" name="settlementPaymentReference" ng-model="invoice.header.issued" value=''>
		    
			<!-- <span ng-repeat="note in invoice.header.notes">
				{{note.contents}}
			</span> -->
		</div>
 	</div>
    
    <div id="bigTotal">
    	<h2 class="text-info">
	    	<b>
	    	{{invoice.trade.settlement.monetarySummation.grandTotal.value}} {{invoice.trade.settlement.monetarySummation.grandTotal.currency}}
		    </b>
		</h2>
		<p>Due to {{invoice.trade.delivery.actualDelivery | date: 'fullDate'}}</p>
    </div>
    
    
	<table class="table table-striped table-items-description">
		<thead>
			<tr class="active">
			  <th width="15%">Ref</th>
			  <th width="50%">Product</th>
			  <th width="10%">Quantity</th>
			  <th width="10%">Price</th>
			  <th width="15%" style="text-align:right;">Total</th>
			</tr>
		</thead>
		<tbody>
			<tr class="itemsDescription" ng-repeat="item in invoice.trade.items">
				<td>
					<!-- <a href="" class="btn btn-danger btn-xs" ng-click="removeItem($index)">
					 	X
					</a> -->
					<input type="text" class="form-control" name="productSellerAssignedId" ng-model="item.product.sellerAssignedId" value=''>
				</td>
				<td>
					<input type="text" class="form-control" name="productName" ng-model="item.product.name" value=''>
				</td>
				<td>
					<input type="text" class="form-control" name="productQuantity" ng-model="item.delivery.billed.value" value=''>
				</td>
				<td>
					{{item.settlement.monetarySummation.lineTotal.value/item.delivery.billed.value}}
					<div>
						<small class="text-help">
							{{invoice.trade.settlement.tradeTax[0].type}}
							{{invoice.trade.settlement.tradeTax[0].percentage}} %
						</small>
					</div>
				</td>
				<td>
					<input style="text-align:right;" type="text" class="form-control" name="productName" ng-model="item.settlement.monetarySummation.lineTotal.value" value=''>
				</td>
			</tr>
			<tr class="trSpacer">
				<td colspan="5" style="text-align:right;">
					<a href="" class="btn btn-default btn-sm" ng-click="addItem()">
						Add item
					</a> 
				</td>
			</tr>
		</tbody>
		
		<tfoot>
			<tr>
				<td colspan="4">Total without Tax</td>
				<td style="text-align:right;">{{invoice.trade.settlement.monetarySummation.lineTotal.value}}</td>
			</tr>

			<tr>
				<td colspan="4">Total Tax: </td>
				<td style="text-align:right;">{{invoice.trade.settlement.monetarySummation.taxTotal.value}}</td>
			</tr>

			<tr class="info">
				<td colspan="4">Total</td>
				<td style="text-align:right;">
					<b>{{invoice.trade.settlement.monetarySummation.grandTotal.value}}
						{{invoice.trade.settlement.monetarySummation.grandTotal.currency }}
					</b>
				</td>
			</tr>
		</tfoot>
		

	</table>

    <div class="row">
    	<div class="col-xs-6">
    		<div>
    			<b>IBAN:</b>
    			<input type="text" class="form-control smaller" name="settlementPaymentMeansPayeeAccountIban" ng-model="invoice.trade.settlement.paymentMeans[0].payeeAccount.iban" value=''> 
    		</div>
    		
    		<div>
    			<b>BIC:</b>
    			<input type="text" class="form-control smaller" name="settlementPaymentMeansPayeeInstitutionBic" ng-model="invoice.trade.settlement.paymentMeans[0].payeeInstitution.bic" value=''> 
    		</div>
    	</div>


    	<div class="col-xs-6">
    		<div ng-repeat="taxRegistration in invoice.trade.agreement.seller.taxRegistrations">
    			{{taxRegistration.type}}:
    			<input type="text" class="form-control smaller" name="settlementPaymentReference" ng-model="taxRegistration.taxNumber" value=''>
    		</div>
    	</div>
    </div>
	
	<a href="" class="btn-info btn-large btn pull-right" ng-click="print()">
		Print
	</a>

	<br>
	<br>

	<!-- <p>{{invoice}}</p> -->
</form>
</div>
